name: Workflow Demo

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Create a text file
      run: echo "Hello, world!" > hello.txt

    - name: Archive text file
      uses: actions/upload-artifact@v4
      with:
        name: hello-artifact
        path: hello.txt

  download:
    needs: build           # a. run after build job
    runs-on: ubuntu-latest # b. runs on ubuntu-latest

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: hello-artifact
        path: ./artifacts   # c. download into ./artifacts

    - name: Display file content
      run: cat ./artifacts/hello.txt   # d. show content


